/*  Utilities
    ===

    Common
    ---
*/
    .hide   { display: none; }
    .show   { display: inline-block; }
    .center { text-align: center; }
    .debug  { background-color: #eadbd0; }


/*  Margin Utilities
    ---
*/
    .mtl{ margin-top: 25px; }
    .mtm{ margin-top: 12px; }
    .mts{ margin-top: 5px; }
    .mtn{ margin-top: 0px; }

    .mbl{ margin-bottom: 25px; }
    .mbm{ margin-bottom: 12px; }
    .mbs{ margin-bottom: 5px; }

    .mrl{ margin-right: 25px; }
    .mrm{ margin-right: 12px; }
    .mrs{ margin-right: 5px; }

    .mll{ margin-left: 25px; }
    .mlm{ margin-left: 12px; }
    .mls{ margin-left: 5px; }
    .mln{ margin-left: 0px; }

/*  Floating
    ---
*/
    .left   { float: left !important; }
    .right  { float: right !important; }

    .clearfix{
        *zoom: 1;
    }
    .clearfix:before,
    .clearfix:after{
        content: " ";
        display: table;
    }
    .clearfix:after{
        clear: both;
    }