/*  Button
    ===

    Basic
    ---

    <button class="button button-primary">
        ...
    </button>
*/

    .button{
        display: inline-block;
        cursor: pointer;
        border: 0;
        padding: 10px 20px;
        font-family: "Roboto";
        font-size: 14px;
        line-height: normal;
        text-align: center;
        text-decoration: none;
        color: $body;
        border-radius: 2px;
    }

    .button:disabled{
        background: #ececec;
        color: #bbb;
        cursor: wait;
    }

        .button:disabled:hover{
            background: inherit;
            color: inherit;
        }

/*  Button Types
    ---
*/

    /* Primary */
    .button-primary{
        background: $primary;
        color: white;
        font-weight: 400;
    }

        .button-primary:hover{
            background: $primary-hover;
        }

    /* Form Element */
    .button-form{
        background-color: $grey-light;
        box-shadow: 0px 2px 0px 0px rgba(0,0,0,.1);
    }
        .button-form:hover{
            background-color: $grey-light-alt;
        }

    /* Text Link */
    .button-text{
        text-decoration: underline;
        background: none;
        color: $primary;
    }

        .button-text:hover{
            color: $primary-hover;
        }

        /* Text Link Colors */
        .button-text-grey{
            color: $body;
            text-decoration: none;
        }

