/*  Cards
    ===

    <div class="card">
    </div>
*/
    .card-container{
        margin: 25px 0;
    }
    .card{
        background-color: white;
        width: 100%;
        box-shadow: 0px 2px 1px 0px rgba(0,0,0,.08);
        border-radius: 3px;
    }

/*  Card Photo
    ---
*/
    .card-photo{
        height: 200px;
        position: relative;
        background-color: #333;
    }

/*  Card Text
    ---
 */
    .card-text-continaer{
        position: absolute;
        bottom: 10px;
        left: 15px
    }

    .card-text-continaer > *{
        display: block;
        margin: 8px 0;
    }

/*  Card Lip
    ---
*/
    .card-lip{
        padding: 15px;
    }