/*  Textarea Editor
    ===

    Setup
    ---

    <div class="textarea-editor">
        <div class="textarea-editor-body">
            <!-- About Me Content -->
        </div>
        <div class="textarea-editor-tools">
            <ul class="tools">
                <li class="tool active">
                    <i class="fa fa-bold"></i>
                </li>
                <li class="tool">
                    <i class="fa fa-italic"></i>
                </li>
            </ul>
        </div>
    </div>
*/
    .textarea-editor{
        position: relative;
    }

    .textarea-editor-body{
        width: 100%;
        min-height: 100px;
        max-height: 300px;
        background: #F3F3F3;
        border: none;
        box-shadow: 0 1px 1px rgba(0,0,0,.2) inset;
        font-size: 14px;
        font-weight: 400;
        font-family: inherit;
        padding: 10px 9px 11px;
        color: #666;
        display: block;
        outline: none;
        overflow-y: scroll;
    }

/*  Toolbar
    ---
 */
    .textarea-editor-tools{
        background-color: #e9e9e9;
        box-shadow: 0px 2px 0px 0px #d9d9d9;
    }

        .textarea-editor-tools .tool{
            display: inline-block;
            padding: 0 15px;
            border-right: 1px solid #d1d1d1;
            border-left: 1px solid #f1f1f1;
            height: 40px;
            line-height: 40px;
            float: left;
            cursor: pointer;
        }

        .textarea-editor-tools .tool:first-child{
            border-left: none;
        }

        /* Toolbar button states. */
        .textarea-editor-tools .tool.active i   { color: #f66051; }
        .textarea-editor-tools .tool.disabled i { color: #bbb; }