/*  Footer
    ---
*/
    footer{
        margin: 20px 0;
        text-align: center;
    }

    .copyright{
        margin: 20px 0;
        color: $body;
    }

    .github{
        text-indent: -9999px;
        display: block;
        background: url('../img/github.png') no-repeat;
        width: 32px;
        height: 32px;
        margin: 0 auto 20px auto;
        opacity: .2;
    }